p  {
color:green;
text-align:left;
}

  body{
    background-image: url("https://storage.googleapis.com/graphicriver-149805.appspot.com/sreda/AnimatedInk/Test-8.gif");
    background-size: cover;
  }

nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#333;
}
nav li{
  float:left;
}
nav li a {
  display:block;
  color:white;
  text-align:center;
  padding: 14px 16px;
  text-decoration:none;
}
nav li a:hover:not(.active){
  background-color:#111;
}
.active{
  background-color:4caf50;
}
